div.wrap
	ul.breadcrumb
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='/indicator/{{pid}}/{{iid}}') Indicator
		li
			a(href='') Add Parameter...
div(style='width:400px;margin-left:auto;margin-right:auto;margin-top:100px;')
	h1 Add Parameter
	div(ng-controller="ParameterCtrl")
		li(ng-repeat='parameter in parameters')
			p {{parameter.title}} {{parameter.value}}
		//- form(action='/addProject', method='post')
		div
			p: input(placeholder='Title', name='title', ng-model='form.title')
			p: input(placeholder='Value', name='value', ng-model='form.value')
			p: input(placeholder='Unit', name='unit', ng-model='form.unit')
			p: button(ng-click='submitNewParameter()') Add
	p: a(href='/indicator/{{pid}}/{{iid}}') Back
	p: a(href='/') Home