div.wrap
	ul.breadcrumb
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='') Add Indicator...
div.mainDiv
	div.leftDiv
		div.leftDivContent
			div.areaInfo
				div.leftInfoDiv
					img.thumbnail(src='pics/saotome.jpg')
				div.rightInfoDiv
					div
						h2(style='margin-left:25px;') {{project.title}}
					div
						div.leftBarDiv
							h4 {{project.location}}
						div.rightBarDiv
							h4 {{project.area}} km2
			div(ng-controller="DemoController")
				div
					button(ng-click='addPoint()') Add Point
					p {{addPointMode}}
				div#map
					leaflet(center="madeira",width="450",height="400",markers="markers")
					//- leaflet(center="madeira",width="500",height="400",markers="markers",event-broadcast="events")
	div.rightDiv
		div(style='width:800px;margin-left:auto;margin-right:auto;margin-top:100px;')
				div(style='width:50%;margin-left:auto;margin-right:auto;')
					div.itemBox
						h4 Current Indicators
						div.itemBoxInner
							li(ng-repeat='indicator in indicators')
								p {{indicator.title}} {{indicator.value}} {{indicator.unit}}
								
				div(style='width:50%;margin-left:auto;margin-right:auto;margin-top:50px;')
					div.itemBox
						h4 Indicator to Add
						div.itemBoxInner
							p: input(placeholder='Title', name='title', ng-model='form.title')
							p: input(placeholder='Value', name='value', ng-model='form.value')
							p: input(placeholder='Unit', name='unit', ng-model='form.unit')
							p: input(placeholder='Alarm', name='alarm', ng-model='form.alarm')
							p: button(ng-click='submitNewWidget()') Add

				
	
//- div(style='width:400px;margin-left:auto;margin-right:auto;margin-top:100px;')
//- 	div.itemBox
//- 		h1 Add Indicator
//- 		div(style='width:200px;margin-left:auto;margin-right:auto;')
//- 			div.itemBox.itemBoxInner
//- 				h4 Current Indicators
//- 				li(ng-repeat='indicator in indicators')
//- 					p {{indicator.title}} {{indicator.value}} {{indicator.unit}}
//- 				//- form(action='/addProject', method='post')
//- 		div(style='width:200px;margin-left:auto;margin-right:auto;')
//- 			div.itemBox.itemBoxInner
//- 				h4 Indicator to Add
//- 				p: input(placeholder='Title', name='title', ng-model='form.title')
//- 				p: input(placeholder='Value', name='value', ng-model='form.value')
//- 				p: input(placeholder='Unit', name='unit', ng-model='form.unit')
//- 				p: input(placeholder='Alarm', name='alarm', ng-model='form.alarm')
//- 				p: button(ng-click='submitNewWidget()') Add
//- 		p: a(href='/dashboard/{{pid}}') Back
//- 		p: a(href='/') Home