div
	h2 dashboard
	ul
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			p Dashboard
	div
	h5 dashboard {{project}} {{pid}}
	ul.list-item
		li.item(ng-repeat='indicator in indicators')
			div.widgetContent
				h3.widgetTitle {{indicator.title}}
				div.line
					div.line-item.value {{indicator.value}}
					div.line-item.unit mg/ha
				div.line
					a(href='/indicator/{{pid}}/{{indicator.iid}}') Open
		li.item.item-to-add
			a(href='/addWidget/{{pid}}')
				div.widgetContent
					p Add a new Widget