h2 Home
    ul.breadcrumb
      li
        a(href='') Home
        
    h1 Welcome to Earthindicators
    div
        ul.menuItem.menuItemLarge
            li.listItem.listItemLarge
                a(href='/projects') 
                    div.innerItem.innerItemBig
                        div
                            p(style='color:#eee;') Projects
            li.listItem.listItemLarge
                a(href='/addReading')
                    div.innerItem.innerItemBig
                        div
                            p(style='color:#eee;') Add a Reading