div
	h2 Indicator
	ul
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			p Indicator
	div
		h5 Indicator data
		p Title: {{indicator.title}}
		p Value: {{indicator.value}}
	div
		h5 Indicator parms
		li(ng-repeat='parameter in parameters')
			p {{parameter.title}} {{parameter.value}}
				a(href='/parameter/{{pid}}/{{iid}}/{{parameter.parmid}}') Open