div
	h2 Parameter
	ul
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='/indicator/{{pid}}/{{iid}}') Indicator
		li
			p Parameter
	div
		h5 Parameter data
		p Title: {{parameter.title}}
		p Value: {{parameter.value}}