div
	h2 Parameter
	ul.breadcrumb
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='/indicator/{{pid}}/{{iid}}') Indicator
		li
			a(href='') Parameter
	div
		p Goals
		p: a(href='/parameterHistory/{{pid}}/{{iid}}/{{parmid}}') History
	div
		h5 Parameter goals
		p Title: {{parameter.title}}
		p Value: {{parameter.value}}