div
	h2 Parameter
	ul
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='/indicator/{{pid}}') Indicator
		li
			p Parameter
	div
		p now the parpameters