div
	ul.breadcrumb
		li
			a(href='/') Home
		li
			a(href='/projects') Projects
		li
			a(href='/dashboard/{{pid}}') Dashboard
		li
			a(href='/dashboard/{{pid}}/{{pointid}}') Point {{pointid}}
		li
			a(href='/indicator/{{pid}}/{{pointiid}}/{{pointid}}') Indicator {{indicator.title}}
		li
			a(href='') Parameter
	div.mainDiv
		div.leftDiv
			div.leftDivContent
				div.areaInfo
					div.leftInfoDiv
						img.thumbnail(src='pics/saotome.jpg')
					div.rightInfoDiv
						div
							h2(style='margin-left:25px;') São Tomé
						div
							div.leftBarDiv
								h4 124.455 inhabitants
							div.rightBarDiv
								h4 100 km2
				div#map(ng-controller="DemoController")
					leaflet(center="madeira",width="450",height="400",markers="markers")
		div.rightDiv
			div(style='right:0;float:right;')
				p Goals
				p: a(href='/parameterHistory/{{pid}}/{{pointiid}}/{{pointparmid}}') History
			div.widgetChartLarge(ng-controller='BulletCtrl')
				nvd3-bullet-chart(data='bulletDataRead', width='200', height='20', showXAxis="false", margin="{left:5,top:0,bottom:0,right:5}", showYAxis="false", tooltips="true", interactive="false")
			ul.list-item
				li.item
					div.widgetContent
						h3.widgetTitle Year 0
						div.line
							div.line-item.value {{parameter.value*2}}
							div.line-item.unit {{parameter.unit}}
				li.item
					div.widgetContent
						h3.widgetTitle Current
						div.line
							div.line-item.value {{parameter.value}}
							div.line-item.unit {{parameter.unit}}
				li.item
					div.widgetContent
						h3.widgetTitle Objective
						div.line
							div.line-item.value {{parameter.value/2}}
							div.line-item.unit {{parameter.unit}}
			//- div
			//- 	h5 Parameter goals
			//- 	p Title: {{parameter.title}}
			//- 	p Value: {{parameter.value}}