div.itemBox(style='width:400px;margin-left:auto;margin-right:auto;margin-top:100px;')
	h1 Add Project
	div(ng-controller="ProjectsCtrl")
		div(ng-repeat='project in projects')
			p {{project.title}} {{project.location}} {{project.area}}
		//- form(action='/addProject', method='post')
		div
			p: input(placeholder='Project Name', name='title', ng-model='form.title')
			p: input(placeholder='Location', name='location', ng-model='form.location')
			p: input(placeholder='Area', name='area', ng-model='form.area')
			p: button(ng-click='submitNewProject()') Add
	p: a(href='/projects') Back
	p: a(href='/') Home