!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Earthindicators
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/app-alt.css')
    //- script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/jquery/dist/jquery.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='js/lib/nvd3/nv.d3.js')
    script(src='js/lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
    link(rel='stylesheet', href='css/nvd3/nv.d3.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
    script(src='http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    script(src='js/lib/jquery-ui/ui/jquery-ui.js')
    script(src='js/lib/angular-ui-calendar/src/calendar.js')
    script(src='js/lib/fullcalendar/fullcalendar.js')
    script(src='js/lib/fullcalendar/gcal.js')
    link(rel='stylesheet', href='css/fullcalendar.css')
  body
    block body