!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Earthindicators
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/app-alt.css')
  body
    block body