div
  h2 My Projects
  ul
    li
      a(href='/') Home
    li
      p Projects
      
  div
    li(ng-repeat="project in projects")
      a(href='/dashboard/{{project.id}}') {{project.title}} {{project.area}}
    a(href='/addProject') Add a new Project